---
import SkillsSetIcon from '../assets/icons/skills-set.svg';
import { Picture } from 'astro:assets';
import AvatarPhoto from '../assets/images/avatar.png';
import { SkillsSection } from '../react/skillsSection';
import { HeroSectionDesktop } from '../react/heroSection';
import { HeroSectionMobile } from '../react/heroSectionMobile';
import { AboutSection } from '../react/aboutSection';
import { ContactForm } from '../react/ContactForm';
import Testimonials from '../components/Testimonials.astro';

interface Props {
  t: any;
  hasContactForm?: boolean;
  contactEmail?: string;
  formspreeEndpoint?: string;
  recaptchaSiteKey?: string;
  cvUrl?: string;
}

const { t, hasContactForm = false, contactEmail = '', formspreeEndpoint = '', recaptchaSiteKey, cvUrl } = Astro.props;
---

<main class="pt-16 overflow-hidden">
<!-- <main class="pt-20"> -->
  <!-- Hero Section -->
  <div class="hero-mobile-only">
    <HeroSectionMobile t={t} client:media="(max-width: 767px)" />
  </div>
  <div class="hero-desktop-only">
    <HeroSectionDesktop t={t} client:media="(min-width: 768px)" />
  </div>

  <!-- About Section -->
  <AboutSection t={t} client:visible >
    <Picture src={AvatarPhoto} alt="Avatar" width={500} densities={[1, 2]} loading="lazy" />
  </AboutSection>

  <!-- Skills Section -->
  <SkillsSection t={t} cvUrl={cvUrl} client:visible>
    <SkillsSetIcon class="mx-auto w-full h-fit" />
  </SkillsSection>

  <!-- Testimonials Section -->
  <Testimonials t={t} />

  <!-- Contact Section -->

  {hasContactForm && formspreeEndpoint ? (
    <ContactForm
      client:visible
      t={t}
      formspreeEndpoint={formspreeEndpoint}
      recaptchaSiteKey={recaptchaSiteKey}
    />
  ) : (
    <div class="py-16 bg-accent mx-5 rounded-2xl">
      <div class="container mx-auto py-20 sm:py-36 px-3 flex flex-col items-center">
        <h2 class="text-white text-center font-lato mt-0 uppercase font-medium text-4xl sm:text-8xl md:text-[107px]">{t.contactTitle}</h2>

        <a
          class="contact-link sm:scale-150"
          href={`mailto:${contactEmail}`}
          title={t.contact}
        >
          <i class="icon-[jam--envelope] size-6"></i>
          <span>{t.contact}</span>
        </a>
      </div>
    </div>
  )}
</main>

<style>
  .hero-mobile-only {
    display: block;
  }

  .hero-desktop-only {
    display: none;
  }

  @media (min-width: 768px) {
    .hero-mobile-only {
      display: none;
    }

    .hero-desktop-only {
      display: block;
    }
  }
</style>
