---
import SkillsSetIcon from '../assets/icons/skills-set.svg';
import { Picture } from 'astro:assets';
import AvatarPhoto from '../assets/images/avatar.png';
import { SkillsSection } from '../react/skillsSection';
import { HeroSection } from '../react/heroSection';
import { AboutSection } from '../react/aboutSection';

interface Props {
  t: any;
}

const { t } = Astro.props;
---

<main class="">
<!-- <main class="pt-20"> -->
  <!-- Hero Section -->
  <HeroSection t={t} client:load />

  <!-- About Section -->
  <AboutSection t={t} client:load >
    <Picture src={AvatarPhoto} alt="Avatar" width={500} densities={[1, 2]} />
  </AboutSection>

  <!-- Skills Section -->
  <SkillsSection t={t} client:load>
    <SkillsSetIcon class="mx-auto w-full h-fit" />
  </SkillsSection>

  <!-- Contact Section -->
  <section class="py-16 relative bg-[#141414]">
    <div class="bg-black-noise"></div>
    <div class="max-w-[1200px] mx-auto px-10 py-36">
      <div class="w-min relative">
        <h2 class="text-white font-lato uppercase text-5xl sm:text-8xl md:text-[107px] max-w-2xl">{t.contact}</h2>

        <svg width="26" height="26" class="absolute bottom-0 right-0" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.0605 1.06055V27.0605M27.0605 27.0605H1.06055M27.0605 27.0605L1.06055 1.06055" stroke="#ECECEC" stroke-width="3"/>
        </svg>
      </div>
    </div>
  </section>
</main>
