---
import SkillsSetIcon from '../assets/icons/skills-set.svg';
import { Picture } from 'astro:assets';
import AvatarPhoto from '../assets/images/avatar.png';
import { SkillsSection } from '../react/skillsSection';
import { HeroSection } from '../react/heroSection';
import { AboutSection } from '../react/aboutSection';
import { ContactForm } from '../react/ContactForm';
import Testimonials from '../components/Testimonials.astro';

interface Props {
  t: any;
  hasContactForm?: boolean;
  contactEmail?: string;
  formspreeEndpoint?: string;
  recaptchaSiteKey?: string;
  cvUrl?: string;
}

const { t, hasContactForm = false, contactEmail = '', formspreeEndpoint = '', recaptchaSiteKey, cvUrl } = Astro.props;
---

<main class="pt-16">
<!-- <main class="pt-20"> -->
  <!-- Hero Section -->
  <HeroSection t={t} client:load />

  <!-- About Section -->
  <AboutSection t={t} client:load >
    <Picture src={AvatarPhoto} alt="Avatar" width={500} densities={[1, 2]} />
  </AboutSection>

  <!-- Skills Section -->
  <SkillsSection t={t} cvUrl={cvUrl} client:load>
    <SkillsSetIcon class="mx-auto w-full h-fit" />
  </SkillsSection>

  <!-- Testimonials Section -->
  <Testimonials t={t} />

  <!-- Contact Section -->

  {hasContactForm && formspreeEndpoint ? (
    <ContactForm
      client:load
      t={t}
      formspreeEndpoint={formspreeEndpoint}
      recaptchaSiteKey={recaptchaSiteKey}
    />
  ) : (
    <div class="py-16 bg-accent mx-5 rounded-2xl">
      <div class="container mx-auto py-20 sm:py-36 px-3 flex flex-col items-center">
        <h2 class="text-white text-center font-lato mt-0 uppercase font-medium text-4xl sm:text-8xl md:text-[107px]">{t.contactTitle}</h2>

        <a
          class="contact-link sm:scale-150"
          href={`mailto:${contactEmail}`}
          title={t.contact}
        >
          <i class="icon-[jam--envelope] size-6"></i>
          <span>{t.contact}</span>
        </a>
      </div>
    </div>
  )}
</main>
